<launch>
  <arg name="UnitreeGripperYN" default="false"/>
  <arg name="Touch" default="false" />
  <arg name="initial_position" default="default" doc="default= zero postition, forward= work position"/>
  <arg name="test_start" default="false" 
      doc="Enable real-time mixed control solver when true"/>

  <arg name="controller" default="true" />
  <arg name="ros_controller" default="true" />
  <arg name="moveit" default="true" />
  <arg name="rviz" default="true" />
  <arg name="aruco_ros" default="true" />
  <arg name="ctrl_mode" default="default" 
       doc="Control mode options: [default, aruco_for_pos, aruco_for_ori, mixed_pos]"/>
  

  <include file="$(find z1_bringup)/launch/sim_ctrl.launch" if="$(arg controller)">
    <arg name="UnitreeGripperYN" value="$(arg UnitreeGripperYN)"/>
  </include>

  <group if="$(arg ros_controller)">
    <include file="$(find z1_hw)/launch/z1_hw.launch">
      <arg name="UnitreeGripper" value="$(arg UnitreeGripperYN)"/>
      <arg name="initial_position" value="$(arg initial_position)" />
    </include>
  </group>

  <include file="$(find z1_moveit_config)/launch/move_group.launch" if="$(arg moveit)"/>

  <include file="$(find z1_rviz)/launch/view_robot_no_moveit.launch" if="$(arg rviz)"/>

  <!-- my node -->
  <node name="get_end_effector_pose" pkg="z1_examples" type="get_end_effector_pose" output="screen"/>
  <node name="real_time_mixed_ctrl_solver" pkg="z1_examples" type="test1_Touch_PLUS_vision_solver" output="screen" if="$(arg test_start)">
    <param name="ctrl_mode" type="string" value="$(arg ctrl_mode)"/>
  </node>
  <!-- Touch -->
  <include file="$(find geomagic_myhaptics)/launch/pubforce_duel.launch" if="$(arg Touch)"/>
  <!-- aruco_ros -->
  <include file="$(find aruco_ros)/launch/realsense_single2_sim.launch" if="$(arg aruco_ros)">
    </include>
  <!-- easyhandeye -->
  <!-- 直接将标定结果发布到静态tf，参数依次为x,y,z,qx,qy,qz,qw -->
  <!-- 仿真启用的机器人描述包括了 realsense 相机，这里无需发布 -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="realsense_to_base_link" args="0.07374284684247943 0.024542071578954112 0.061753250711652295 -0.509162985061133 0.47824678475472604 -0.49102684833978094 0.5205052369812472 link06 camera_color_frame 300" /> -->
</launch>
