<launch>
  <arg name="UnitreeGripperYN" default="false"/>

  <arg name="controller" default="true" />
  <arg name="ros_controller" default="true" />
  <arg name="moveit" default="true" />
  <arg name="rviz" default="true" />

  <include file="$(find z1_bringup)/launch/sim_ctrl.launch" if="$(arg controller)">
    <arg name="UnitreeGripperYN" value="$(arg UnitreeGripperYN)"/>
  </include>

  <group if="$(arg ros_controller)">
    <include file="$(find z1_hw)/launch/[traj]z1_hw.launch">
      <arg name="UnitreeGripper" value="$(arg UnitreeGripperYN)"/>
    </include>
  </group>

  <include file="$(find z1_moveit_config)/launch/move_group.launch" if="$(arg moveit)"/>

  <include file="$(find z1_rviz)/launch/view_robot.launch" if="$(arg rviz)"/>

  <!-- my node -->
  <node type="get_end_effector_pose" pkg="z1_examples" name="get_end_effector_pose" output="screen"/>
  <!-- easyhandeye -->
  <!-- <include file="$(find easy_handeye)/launch/publish.launch" >
  </include> -->
  <node pkg="tf" type="static_transform_publisher" name="realsense_to_base_link" args="0.07374284684247943 0.024542071578954112 0.061753250711652295 -0.509162985061133 0.47824678475472604 -0.49102684833978094 0.5205052369812472 link06 camera_color_frame 300" />
</launch>
